<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="order by dede58.com"/>
    <title>小米6立即购买-小米商城</title>
    <link rel="stylesheet" type="text/css" href="../../ym/css/style.css">


    <!-- 引入jquery -->
    <script type="text/javascript" src="../djs/jquery.min.js"></script>

    <!-- 引入my97 -->
    <script type="text/javascript" src="../djs/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../djs/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../djs/treeview/bootstrap-treeview.min.js"></script>

    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../djs/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../djs/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../djs/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../djs/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../djs/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="../djs/fileinput/themes/fa/theme.js"></script>

</head>
<script>



    $(function(){
        lickMemory();
    })

    //可选择内存
    function lickMemory() {

        $.ajax({
            url:"../front/tvVersion",
            type:"post",
            dataType:"json",
            success:function(data){
                for(var i=0;i<data.length;i++){
/*                    alert(data[i].price);*/
                    if(i==i){
                        $("#m"+i).html(data[i].version);
                        $("#me"+i).val(data[i].price);
                    }
                }
                $("#price").html(data[0].price);
                $("#price1").html(data[0].price);

            },
            error:function(){
                alert("查询内存失败");
            }
        })

    }

    //可选择尺寸
    function size() {

        $.ajax({
            url:"../front/tvSize",
            type:"post",
            dataType:"json",
            success:function(data){

                for(var i=0;i<data.length;i++){
                    if(i==i){
                        $("#size"+i).html(data[i].version);
                        $("#me"+i).val(data[i].price);
                    }
                }
                $("#price").html(data[0].price);
                $("#price1").html(data[0].price);

            },
            error:function(){
                alert("查询内存失败");
            }
        })

    }




    //选择内存
    function internal11(val) {

        var pri = $("#price").html();//获取当前商品总价格
    /*    alert(pri)*/
        var val = parseInt(val);

        //计算价格
        $("#price").html(val);
        $("#price1").html(val);

    }

    //选择尺寸
    function tvSize(val) {


        var pri = $("#price").html();//获取当前商品总价格

        var price = parseInt(pri);

        var val = parseInt(val);

        //计算价格
        $("#price").html(price+val);

    }


</script>
<body>

<!-- start header -->
<header>
    <div class="top center">
        <div class="left fl">
            <ul>
                <li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
                <li>|</li>
                <li><a href="">MIUI</a></li>
                <li>|</li>
                <li><a href="">米聊</a></li>
                <li>|</li>
                <li><a href="">游戏</a></li>
                <li>|</li>
                <li><a href="">多看阅读</a></li>
                <li>|</li>
                <li><a href="">云服务</a></li>
                <li>|</li>
                <li><a href="">金融</a></li>
                <li>|</li>
                <li><a href="">小米商城移动版</a></li>
                <li>|</li>
                <li><a href="">问题反馈</a></li>
                <li>|</li>
                <li><a href="">Select Region</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="right fr">
            <div class="gouwuche fr"><a href="">购物车</a></div>
            <div class="fr">
                <ul>
                    <li><a href="./login.html" target="_blank">登录</a></li>
                    <li>|</li>
                    <li><a href="./register.html" target="_blank" >注册</a></li>
                    <li>|</li>
                    <li><a href="">消息通知</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<!--end header -->

<!-- start banner_x -->
<div class="banner_x center">
    <a href="./index.html" target="_blank"><div class="logo fl"></div></a>
    <a href=""><div class="ad_top fl"></div></a>
    <div class="nav fl">
        <ul>
            <li><a href="">小米手机</a></li>
            <li><a href="">红米</a></li>
            <li><a href="">平板·笔记本</a></li>
            <li><a href="">电视</a></li>
            <li><a href="">盒子·影音</a></li>
            <li><a href="">路由器</a></li>
            <li><a href="">智能硬件</a></li>
            <li><a href="">服务</a></li>
            <li><a href="">社区</a></li>
        </ul>
    </div>
    <div class="search fr">
        <form action="" method="post">
            <div class="text fl">
                <input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
            </div>
            <div class="submit fl">
                <input type="submit" class="sousuo" value="搜索"/>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>
<!-- end banner_x -->


<!-- xiangqing -->
<form action="post" id="addForm" >
    <div class="xiangqing">
        <div class="neirong w">
            <div class="xiaomi6 fl"><span th:text="${list.televName}"></span></div>
            <nav class="fr">
                <li><a href="">概述</a></li>
                <li>|</li>
                <li><a href="">变焦双摄</a></li>
                <li>|</li>
                <li><a href="">设计</a></li>
                <li>|</li>
                <li><a href="">参数</a></li>
                <li>|</li>
                <li><a href="">F码通道</a></li>
                <li>|</li>
                <li><a href="">用户评价</a></li>
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div class="jieshao mt20 w">
        <div class="left fl"><img src="../../ym/image/xmad_14926862610682_UhkfS.png"></div>
        <div class="right fr">
            <div class="h3 ml20 mt20"><p><span th:text="${list.televInfo}"></span></p></div>
            <div class="jianjie mr40 ml20 mt10"><!--<span th:text="${list.televu}"></span>--></div>
            <div class="jiage ml20 mt10"></div>

            <div class="ft20 ml20 mt20">选择版本</div>
            <div class="xzbb ml20 mt10">
                <div class="ft20 ml20 mt20"></div>

                <div class="banben fl">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="me0" name="version" checked value="" onclick="internal11(this.value)" >
                    &nbsp;&nbsp;&nbsp;<span id="m0"></span>
                </div>

                <div class="banben fr">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="me1" name="version" value="" onclick="internal11(this.value)">
                    &nbsp;&nbsp;&nbsp;<span id="m1"></span>
                </div>

                <div class="clear"></div>
            </div>



<!--            <div class="ft20 ml20 mt20">选择尺寸</div>
            <div class="xzbb ml20 mt10">
                <div class="banben fl">
                    <a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="size0" name="size" checked value="" onclick="size(this.value)" >
                    </a>
                </div>
                <div class="banben fr">
                    <a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="size1" name="size" value="" onclick="size(this.value)" >
                    </a>
                </div>

            </div>-->


            <div class="ft20 ml20 mt20"></div>
            <div class="xzbb ml20 mt10">

            </div>
            <div class="xqxq mt20 ml20">
                <div class="top1 mt10">
                    <div class="left1 fl"><span th:text="${list.televName}"></span>
                        <span th:text="${list.televInfo}"></span>
                    </div>
                    <div class="right1 fr"></div>
                    <div class="clear"></div>
                </div>
                <div class="bot mt20 ft20 ftbc"><span id="price"></span></div>
            </div>
            <div class="xiadan ml20 mt20">

<!--                <input class="jrgwc"  type="button" name="jrgwc" value="立即选购"  onclick="" />-->
                <input class="jrgwc" type="button" name="jrgwc" value="加入购物车" onclick="addTv()" />

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 隐藏id -->
    <input name="id" id="televId" th:value="${list.televId}" type="hidden">
    <input name="id" id="televName" th:value="${list.televName}" type="hidden">
</form>
<!-- footer -->
<footer class="mt20 center">

    <div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
    <div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div>
    <div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>

</footer>

</body>

<script>


//加入购物车
    function addTv() {
/*        var tv = $("#addForm").serialize();*/
        var televId = $("#televId").val();
        var televName = $("#televName").val();
 /*       alert(televId);
        alert(televName);*/
        $.ajax({
            url:"../front/addTv",
            type:"post",
            data:{id:televId,id:televName},
            success:function (data) {
                alert("新增成功！");
            }


        })

    }
    
</script>

</html>