<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- 引入jquery -->
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>

<!-- 引入bootstrap的css -->
<link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<!-- 引入bootstrap-treeview的css -->
<link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
<!-- 引入bootstrap-addTabs的css -->
<link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
<!-- 引入bootstrap-table的css -->
<link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
<!-- 引入fileinput的css -->
<link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />
<!-- 引入my97 -->
<script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
<!-- 引入bootstrap的js-->
<script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
<!-- 引入bootstrap-table的js-->
<script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- 引入bootbox.js -->
<script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
<!-- 引入fileinput的js -->
<script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
<!--  引入fileinput的js -->
<script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
<script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
<body>
<table id="bootTab"></table>
</body>
<script type="text/javascript">
    $(function(){
        queryHero();
    })
    queryHero=function() {
        $("#bootTab").bootstrapTable({
            url: '../account/findincome',	//获取数据地址
            toolbar: '#toolbar', //条查的工具栏

            pagination: true, //是否展示分页
            pageList: [3,4,6,8],//分页组件
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            pageNumber: 1,
            pageSize: 4,//默认每页条数
            sidePagination: 'server',//分页方式：client客户端分页，server服务端分页（*
            striped: true,//是否显示斑马线
            queryParams: function () {
                return {
                    page: this.pageNumber,
                    rows: this.pageSize
                };

            },
            columns: [
                {field: 'discountTime', title: '提现时间', width: 100},     //  列    field   代表是 后台  传过来的值
                {field: 'goodsPrice', title: '金额（元）', width: 100},
                {field: 'userName', title: '操作人', width: 100},
                {field: 'daozhangTime', title: '到账时间', width: 100},
                {field: 'stateName', title: '状态', width: 100},
                {
                    field: 'crud', title: '操作', width: 100,
                    formatter: function (value, row, index) {
                        return  "<a href='javascript:update(&quot;" + row.goodsId + "&quot;)'>詳情</a>";
                    }
                }


            ]

        })
    }


    /*
           *发送ajax请求获取jsp页面内容
           */
    function getJspHtml(urlStr){
        var  jspHtml = "";
        // async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
        //注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }
    function update(goodsId){

        dialog("../account/findbrankById?goodsId="+goodsId,"../account/saveorupdate","提现详情");
    }
    //修改 and 新增的 弹框
    function  dialog(HTMLurl,submitUrl,title){
    debugger;
        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {

                        alert($("#typeid").val());
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#mongoForm").serialize(),
                            success:function(data){
                                bootbox.alert("保存成功");
                                $("#bootTab").bootstrapTable('refresh');
                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }
</script>


</html>