<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<head>
    <div th:fragment="header">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/common/font-awesome.min.css" th:href="@{../css/common/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" href="../css/yemian/shoppingCart.css" th:href="@{../css/yemian/shoppingCart.css}">
        <script type="text/javascript" src="../js/common/jquery-3.1.1.min.js"   th:href="@{../js/common/jquery-3.1.1.min.js}"></script>
        <title></title>
    </div>
</head>
<body>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/common/head.css" th:href="@{../css/common/head.css}">
<div id="footToTop" class="shortcut">
    <div class="shortcut-menu">
        <ul class="floatL">
            <li class="location menu-list posR">
                <div class="menu-link"><i class="icon-map-marker addr-icon"></i><a class="head-addr-select">北京</a></div>
                <div class="dropdown addr-choose">
                    <div class="addr-item"><a class="addr-city addr-selected">北京</a></div>
                    <div class="addr-item"><a class="addr-city">上海</a></div>
                    <div class="addr-item"><a class="addr-city">广州</a></div>
                    <div class="addr-item"><a class="addr-city">福建</a></div>
                    <div class="addr-item"><a class="addr-city">四川</a></div>
                    <div class="addr-item"><a class="addr-city">安徽</a></div>
                    <div class="addr-item"><a class="addr-city">西安</a></div>
                    <div class="addr-item"><a class="addr-city">西藏</a></div>
                    <div class="addr-item"><a class="addr-city">啦啦</a></div>
                    <div class="addr-item"><a class="addr-city">啦啦啦</a></div>
                </div>
            </li>
        </ul>
        <ul class="floatR">
            <li><a href="#" th:text="${session.name}"></a><a href="../page/qtzhuce" class="highlight">免费注册</a></li>
            <li class="spacer"></li>
            <li><a href="../page/forder">我的订单</a></li>
            <li class="spacer"></li>
            <li class="menu-list posR">
                <div class="menu-link"><a href="../page/querydingdan">我的雄飞</a><i class="icon-angle-down"></i></div>
                <div class="dropdown myhome">
                    <div class="userinfo">
                        <div class="user-pic"><a href="#" class="icon-user user-icon"></a></div>
                        <div class="user-name"><a href="#"  th:text="${session.name}"></a></div>
                        <div class="user-extra"><a href="#">优惠券</a><span class="spacer"></span><a href="#">消息</a></div>
                    </div>
                    <div class="otherlist">
                        <div class="fore"><p class="item"><a href="#">待处理订单</a></p>
                            <p class="item"><a href="#">我的问答</a></p>
                            <p class="item"><a href="#">降价商品</a></p>
                            <p class="item"><a href="#">返修退换货</a></p></div>
                        <div class="fore"><p class="item"><a href="#">我的关注</a></p>
                            <p class="item"><a href="#">我的飞豆</a></p>
                            <p class="item"><a href="#">我的理财</a></p>
                            <p class="item"><a href="#">雄飞白嫖</a></p></div>
                    </div>
                </div>
            </li>
            <li class="spacer"></li>
            <li><a href="#">xx会员</a></li>
            <li class="spacer"></li>
            <li><a href="#">企业采购</a></li>
            <li class="spacer"></li>
            <li class="menu-list posR">
                <div class="menu-link"><a href="#">客户服务</a><i class="icon-angle-down"></i></div>
                <div class="dropdown clientserv">
                    <div class="client-title">客户</div>
                    <div class="client-item"><a href="#">帮助中心</a></div>
                    <div class="client-item"><a href="#">售后服务</a></div>
                    <div class="client-item"><a href="#">在线客服</a></div>
                    <div class="client-item"><a href="#">意见反馈</a></div>
                    <div class="client-item"><a href="#">电话客服</a></div>
                    <div class="client-item"><a href="#">客服邮箱</a></div>
                    <div class="client-item"><a href="#">金融咨询</a></div>
                    <div class="client-title">商户</div>
                    <div class="client-item"><a href="#">xx商学院</a></div>
                    <div class="client-item"><a href="#">商家入驻</a></div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="menu-list posR">
                <div class="menu-link"><a href="#">网站导航</a><i class="icon-angle-down"></i></div>
                <div class="dropdown sitebar">
                    <div class="client-title">客户</div>
                    <div class="client-item"><a href="#">帮助中心</a></div>
                    <div class="client-item"><a href="#">售后服务</a></div>
                    <div class="client-item"><a href="#">在线客服</a></div>
                    <div class="client-item"><a href="#">意见反馈</a></div>
                    <div class="client-item"><a href="#">电话客服</a></div>
                    <div class="client-item"><a href="#">客服邮箱</a></div>
                    <div class="client-item"><a href="#">金融咨询</a></div>
                    <div class="client-title">商户</div>
                    <div class="client-item"><a href="#">xx商学院</a></div>
                    <div class="client-item"><a href="#">商家入驻</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">$('.addr-city').on('click', function () {
    $(this).addClass('addr-selected').parent()
        .siblings('.addr-item').children('.addr-city')
        .removeClass('addr-selected');
    $('.head-addr-select').text($(this).text());
});</script>
<header>
    <div class="header">
        <div class="logo"><a href="../page/findshouyee"><img src="../img/logo.v2.png" alt="logo"></a><a href="#"
                                                                              class="shoppingcartLink"><b>购物车</b></a>
        </div>
        <div class="cart-search"><input placeholder="自营" class="searchBox"><a class="searchBtn">搜索</a></div>
    </div>
</header>
<div class="container">
    <div class="cart-empty hide">
        <div class="conWidth">
            <div class="cart-message"><i class="icon-shopping-cart"></i>
                <ul>
                    <li class="mess-txt">购物车空空的哦~，去看看心仪的商品吧~</li>
                    <li><a href="#" class="cart-toshopping">去购物></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cart-notEmpty">
        <div class="conWidth clr">
            <div class="cart-filter-bar floatL">
                <ul class="cart-switch">
                    <li class="current"><a><em>全部商品</em><span class="cart-goods-num">1</span></a></li>

                </ul>
            </div>
            <div class="cart-store floatR"><span>配送至：</span>
                <div class="cart-area store-address">
                    <div class="cart-area-title"><span id="address">北京朝阳区三环以内</span><i class="icon-chevron-down"></i>
                    </div>
                    <div class="addr-con hide">
                        <dl class="addr-select">
                            <dt class="as-header"><strong>常用地址</strong></dt>
                            <dd class="as-list">
                                <div class="commonAdr">
                                    <ul>
                                        <li><a>小明 四川</a></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                        <dl class="addr-select">
                            <dt class="as-header"><strong>选择新地址</strong></dt>
                            <dd class="as-list">
                                <ul class="as-address">
                                    <li id="province" class="as-address-det as-address-select">北京</li>
                                    <li id="city" class="as-address-det">请选择</li>
                                    <li id="county" class="as-address-det hidden">请选择</li>
                                </ul>
                                <div class="tab-con">
                                    <div class="province">
                                        <ul>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                            <li><a>江苏省</a></li>
                                        </ul>
                                    </div>
                                    <div class="city hide">
                                        <ul>
                                            <li><a>徐州市</a></li>
                                            <li><a>南京市</a></li>
                                            <li><a>无锡市</a></li>
                                            <li><a>常州市</a></li>
                                            <li><a>淮安市</a></li>
                                            <li><a><江苏></江苏>市</a></li>
                                        </ul>
                                    </div>
                                    <div class="county hide">
                                        <ul>
                                            <li><a>苏南区</a></li>
                                            <li><a>苏南区</a></li>
                                            <li><a>苏南区</a></li>
                                            <li><a>苏北区</a></li>
                                            <li><a>苏北区</a></li>
                                            <li><a>苏北区</a></li>
                                        </ul>
                                    </div>
                                    <div class="village hide">
                                        <ul>
                                            <li><a>待用</a></li>
                                            <li><a>待用</a></li>
                                            <li><a>待用</a></li>
                                            <li><a>待用</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="conWidth">
            <div class="cart-main">
                <div class="cart-main-head">
                    <div class="h-checkbox"><span class="h-check"><input type="checkbox" class="allCheck"></span><span>全选</span>
                    </div>
                    <div class="h-goods">商品</div>
                    <div class="h-props"></div>
                    <div class="h-price">单价</div>
                    <div class="h-quantity">数量</div>
                    <div class="h-sum">小计</div>
                    <div class="h-action">操作</div>
                </div>


                </div>
                <div id="huoAll"></div>

            <div class="cart-footer">
                <div class="options-box clear">
                    <div class="selectAll">
                        <div class="cart-checkbox"><input type="checkbox" class="allCheck"><span>全选</span></div>
                    </div>
                    <div class="operation"><a class="deleteMoreGood">删除选中的商品</a><a class="removeMoreGood">移到我的关注</a><a
                            class="clearOverdueGood">清除下柜商品</a></div>
                    <div class="toolbar-right">
                        <div class="btnArea floatR"><a href="../page/forder">去结算</a></div>
                        <div class="price-sum">
                            <div><span class="sum-txt" >总价：</span><span class="sum-price"><em>¥8364.00</em></span><br><span
                                    class="txt">将节省:</span><span class="price">- ¥297.00</span></div>
                        </div>
                        <div class="amount-sum"><span>已选择</span><em id="amount-val">3</em><span>件商品</span></div>
                    </div>
                </div>
            </div>
            <div class="cart-removed mt20 hide">
                <div class="r-title">已删除商品，您可以重新购买或加关注：</div>
            </div>
        </div>
    </div>
    <div class="conWidth mt20">
        <div class="mb10"><span class="m-tabs"><a class="m-item tabs-item m-item-on">猜你喜欢</a><a
                class="m-item tabs-item">我的关注</a><a class="m-item tabs-item">最近浏览</a></span><span class="s-tabs"><a
                class="s-item tabs-item s-item-on"></a><a class="s-item tabs-item"></a><a class="s-item tabs-item"></a></span>
        </div>
        <div class="panel-main posR">
            <div class="panel-item panel-like">
                <ul class="panel-on">
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D </a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 </a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                </ul>
                <div class="pages hide"><a class="leftBtn"><</a><a class="rightBtn">></a></div>
            </div>
            <div class="panel-item panel-attent">
                <div class="panel-main posR">
                    <div class="noResult">暂时无结果</div>
                </div>
            </div>
            <div class="panel-item panel-browse">
                <ul class="panel-on">
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D </a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 </a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-detail">
                            <div class="i-img"><a href="#"><img src="img/ad.png" alt=""></a></div>
                            <div class="i-name"><a href="#">索尼（SONY）KD-49X6000D 49英寸 4K LED液晶电视(黑色)</a></div>
                            <div class="i-price"><strong><em>￥</em><i>3476.00</i></strong></div>
                            <div class="i-btn"><a><i class="icon-shopping-cart"></i><span>加入购物车</span></a></div>
                        </div>
                    </li>
                </ul>
                <div class="pages hide"><a class="leftBtn"><</a><a class="rightBtn">></a></div>
            </div>
        </div>
    </div>
</div>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/common/footer.css" th:href="@{../css/common/footer.css}">
<footer>
    <div class="footer-service">
        <ul class="footer-s-list">
            <li class="footer-s-item">
                <div class="footer-s-unit"><i class="icon-trophy"></i><span class="footer-s-txt">描述语，描述语</span></div>
            </li>
            <li class="footer-s-item">
                <div class="footer-s-unit"><i class="icon-trophy"></i><span class="footer-s-txt">描述语，描述语</span></div>
            </li>
            <li class="footer-s-item">
                <div class="footer-s-unit"><i class="icon-trophy"></i><span class="footer-s-txt">描述语，描述语</span></div>
            </li>
            <li class="footer-s-item">
                <div class="footer-s-unit"><i class="icon-trophy"></i><span class="footer-s-txt">描述语，描述语</span></div>
            </li>
        </ul>
    </div>
    <div class="footer-help">
        <div class="footer-h-list">
            <div class="footer-h-nav"><h5 class="footer-h-nav-tit">购物指南</h5>
                <ul class="footer-h-nav-con">
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                </ul>
            </div>
            <div class="footer-h-nav"><h5 class="footer-h-nav-tit">购物指南</h5>
                <ul class="footer-h-nav-con">
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                </ul>
            </div>
            <div class="footer-h-nav"><h5 class="footer-h-nav-tit">购物指南</h5>
                <ul class="footer-h-nav-con">
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                </ul>
            </div>
            <div class="footer-h-nav"><h5 class="footer-h-nav-tit">购物指南</h5>
                <ul class="footer-h-nav-con">
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">购物流程</a></li>
                </ul>
            </div>
            <div class="footer-h-nav"><h5 class="footer-h-nav-tit">购物指南</h5>
                <ul class="footer-h-nav-con">
                    <li><a href="#">购物流程</a></li>
                </ul>
            </div>
            <div class="footer-h-other"><h5 class="footer-h-other-tit">其他内容</h5>
                <div class="footer-h-other-con"><p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                    <p class="footer-h-other-more"><a href="#">查看详情</a><i class="icon-angle-right ml5"></i></p></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright"><p><a href="#">关于我们</a><span class="spacer"></span><a href="#">联系我们</a><span
            class="spacer"></span><a href="#">联系客服</a><span class="spacer"></span><a href="#">商家入驻</a><span
            class="spacer"></span><a href="#">营销中心</a><span class="spacer"></span><a href="#">手机xx</a><span
            class="spacer"></span><a href="#">友情链接</a><span class="spacer"></span><a href="#">销售联盟</a><span
            class="spacer"></span><a href="#">xx社区</a><span class="spacer"></span><a href="#">风险监测</a><span
            class="spacer"></span><a href="#">xx公益</a><span class="spacer"></span><a href="#">English Site</a><span
            class="spacer"></span><a href="#">Contact Us</a></p>
        <div class="footer-c-info"><p><a href="#">京公网安备 11000002000088号</a><span class="spacer"></span><a href="#">京ICP证070359号</a><span
                class="spacer"></span><a href="#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="spacer"></span><a
                href="#">新出发京零字第大120007号</a></p>
            <p><span>互联网出版许可证编号新出网证(京)字150号</span><span class="spacer"></span><a>出版物经营许可证</a><span
                    class="spacer"></span><a>网络文化经营许可证京网文[2014]2148-348号</a><span class="spacer"></span><span>违法和不良信息举报电话：4006561155</span>
            </p>
            <p><span>Copyright © 2004 - 2016  雄飞XF.com 版权所有</span><span
                    class="spacer"></span><span>消费者维权热线：4006067733</span></p>
            <p><span>雄飞旗下网站：</span><a href="#">雄飞钱包</a><span class="spacer"></span><a href="#">雄飞云</a></p></div>
        <p><a href="#">经营性网站备案信息</a><span class="spacer"></span><a href="#">可信网站信用评价</a><span class="spacer"></span><a
                href="#">网络警察提醒您</a><span class="spacer"></span><a href="#">诚信网站</a><span class="spacer"></span><a
                href="#">中国互联网举报中心</a></p></div>
</footer>
<div class="toolCon">
    <div class="toolbar">
        <div class="toolbar-tab-cust">
            <div><i class="icon-heart-empty"></i><span class="tab-text">我的关注</span></div>
            <div class="toolbar-box"><h3 class="detail-title"><a href="#"><i
                    class="icon-heart-empty mr10"></i><em>我的关注</em></a><span class="detail-close">×</span></h3>
                <div class="detail-main">
                    <div class="detail-follow">
                        <div class="detail-con">
                            <div class="detail-tip"><span class="tip-txt">dfsadf</span><span class="tip-close">×</span>
                            </div>
                            <ul>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                                <li class="detail-pic"><a href="#" class="pic-link"><img src="img/ad.png"></a><a
                                        class="addCart-btn">加入购物车</a><a class="detail-price highlight">￥23.00</a><i
                                        class="icon-trash"></i></li>
                            </ul>
                            <a href="#" class="showMoreAtten">查看更多关注商品 》</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar-footer">
        <div class="toolbar-tab"><a class="footToTop"><i class="icon-chevron-up"></i><span
                class="tab-text">顶部</span></a></div>
        <div class="toolbar-tab"><a><i class="icon-question-sign"></i><span class="tab-text">常见问题</span></a></div>
        <div class="toolbar-tab"><i class="icon-pencil"></i><span class="tab-text">反馈</span></div>
    </div>
</div>
<div id="deleteDialog" class="dialog hide">
    <div class="ui-dialog">
        <div class="ui-dialog-title"><span>删除</span></div>
        <div class="ui-dialog-content">
            <div class="tip-box"><i class="warn-icon icon-warning-sign"></i>
                <div class="item-fore"><h3 class="if-sure">删除商品？</h3>
                    <div class="if-tip">您可以选择移动到我的关注，或删除商品。</div>
                </div>
                <div class="op-btns textCenter"><a class="op-no mr10">删除</a><a class="op-ok">移到我的关注</a></div>
            </div>
        </div>
        <a title="关闭" class="ui-dialog-close"><i class="icon-remove"></i></a></div>
    <div class="ui-mask"></div>
</div>
<div id="removeDialog" class="dialog hide">
    <div class="ui-dialog">
        <div class="ui-dialog-title"><span>关注</span></div>
        <div class="ui-dialog-content">
            <div class="tip-box"><i class="warn-icon icon-warning-sign"></i>
                <div class="item-fore"><h3 class="if-sure">移到关注</h3>
                    <div class="if-tip">移动后选中商品将不在购物车中显示</div>
                </div>
                <div class="op-btns textCenter"><a class="op-ok mr10">确定</a><a class="op-no">取消</a></div>
            </div>
        </div>
        <a title="关闭" class="ui-dialog-close"><i class="icon-remove"></i></a></div>
    <div class="ui-mask"></div>
</div>
<div id="nothingSelect" class="dialog hide">
    <div class="ui-dialog">
        <div class="ui-dialog-title"><span>提示</span></div>
        <div class="ui-dialog-content">
            <div class="tip-box"><i class="warn-icon icon-warning-sign"></i>
                <div class="item-fore"><h3 class="if-sure">请至少选中一件商品！</h3></div>
            </div>
        </div>
        <a title="关闭" class="ui-dialog-close"><i class="icon-remove"></i></a></div>
    <div class="ui-mask"></div>
</div>
<div id="overdueDialog" class="dialog hide">
    <div class="ui-dialog">
        <div class="ui-dialog-title"><span>提示</span></div>
        <div class="ui-dialog-content">
            <div class="tip-box"><i class="warn-icon icon-warning-sign"></i>
                <div class="item-fore"><h3 class="if-sure">没有下柜商品！</h3></div>
            </div>
        </div>
        <a title="关闭" class="ui-dialog-close"><i class="icon-remove"></i></a></div>
    <div class="ui-mask"></div>
</div>
</div>
</body>

<script type="text/javascript" src="../js/common/common.min.js"  th:href="@{../js/common/common.min.js}"></script>
<script type="text/javascript" src="../js/yemian/shoppingCart.min.js"  th:href="@{../js/yemian/shoppingCart.min.js}"></script>
<script>
    $(function () {
        querAllHuo();
    })
    //循环表格
    function querAllHuo() {
        var strAllss = "";
        $.ajax({
            url: "../order/findOrderListAll",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    strAllss += '<div class="cart-main-list">'+
                        '<div class="cart-main-shop">'+
                        ' <div class="cart-checkbox"><input type="checkbox" class="listCheck"></div>'+
                        '  <span class="s-text"><a class="shop-name">'+data[i].goodsName+'</a></span>'+
                        ' <div class="shop-extra">'+
                        '  <div class="extra-info-main"><span class="info-main-flag">满¥99免运费(10kg内)'+
                        '	<b  class="icon-angle-down"></b><div class="lineshade"></div><div class="info-main-box">'+
                        '<span class="info-main-tit">小计：¥33916.00</span>'+
                        '<span class="info-main-tit">总重：'+data[i].weight+'kg</span><div class="box-detail ml20"><ul>'+
                        '<li   class="curr"><span>满¥99</span><span class="lightGreen ml5">已免运费</span>'+
                        '<span class="floatR">10kg内免运费</span></li><li><span>满¥199</span>'+
                        '<span class="floatR">20kg内免运费</span></li><li><span>满¥299</span>'+
                        '<span class="floatR">30kg内免运费</span></li><li><span>满¥399</span>'+
                        '<span class="floatR">40kg内免运费</span></li><li><span>超过50kg运费以结算页为准</span>'+
                        '<span class="floatR">'+
                        '<a href="#"   class="lightBlue">详情 ></a></span></li></ul></div></div></span>'+
                        ' </div>'+
                        ' <span>已免运费</span></div>'+
                        ' </div>'+
                        ' <div class="goods-list">'+
                        ' <div class="goods-item-con">'+
                        ' <div class="goods-head">'+
                        '<div class="goods-head-txt"><a href="#" class="goods-head-link">活动商品已购满¥100.00'+
                        ' ，可加价换购商品12件 ></a><a class="goods-head-btn ml20">换购商品</a><a class="ml10 toBuy">去凑单'+
                        ' ></a></div>'+
                        ' <div class="goods-head-price"></div>'+
                        '</div>'+
                        '  <div class="goods-item">'+
                        '  <div class="goods-item-form clear">'+
                        '   <div class="cell f-checkbox">'+
                        '   <div class="cart-checkbox"><input type="checkbox" class="itemCheck"></div>'+
                        '</div>'+
                        '  <div class="cell f-goods">'+
                        '  <div class="f-goods-item">'+
                        '    <div class="f-item-img"><a href="#"><img src="img/ad.png" alt=""></a></div>'+
                        '   <div class="f-item-msg">'+
                        '     <div class="msg-name"><a href="#">'+data[i].shop_name+'</a></div>'+
                        '    <div class="msg-extend"><span><i class="icon-gift"></i><a '+
                        '          title="购买礼品服务">购买礼品服务</a></span><span><i'+
                        '        class="icon-wrench"></i><a title="购买增值保障">购买增值保障</a></span>'+
                        '    </div>'+
                        '  </div>'+
                        '  </div>'+
                        '  </div>'+
                        '  <div class="cell f-props">'+
                        '  <div class="f-props-txt">颜色：白色</div>'+
                        ' </div>'+
                        ' <div class="cell f-price"><strong>¥   '+data[i].goodsPrice+'</strong>'+
                        '  <div><a class="sales-promotion"><span>更多促销</span><span '+
                        '   class="icon-angle-down ml5"></span></a>'+
                        ' <div class="sales-main">'+
                        ' <ul>'+
                        '  <li><input type="radio" checked="checked" title="满100.00得赠品，赠完即止" '+
                        '            name="promotion2"><span>满3000.00得赠品，赠完即止</span></li>'+
                        ' <li><input type="radio" title="满100.00得赠品，赠完即止" '+
                        '         name="promotion2"><span>满3000.00得赠品，赠完即止</span></li>'+
                        ' <li><input type="radio" title="满100.00得赠品，赠完即止" '+
                        '             name="promotion2"><span>满3000.00得赠品，赠完即止</span></li>'+
                        ' </ul>'+
                        '   <div class="sale-btn mt20 textCenter"><a class="sale-yes">确定</a><a '+
                        '           class="sale-no ml20">取消</a></div> '+
                        ' </div>'+
                        ' </div>'+
                        ' <a title="商品比加入购物车降价250.00" '+
                        '   class="lightGreen floatR cutPrice">降价<span>¥250.00</span></a></div>'+
                        '  <div class="cell f-quantity">'+
                        ' <div class="quantity-form"><a class="quantityDown mount-down">-</a><input'+
                        '  value="1" class="quantityNum mount-input"><a'+
                        '    class="quantityUp mount-up">+</a></div>'+
                        '<div>有货</div>'+
                        ' </div>'+
                        ' <div class="cell f-sum"><strong>¥2788.00</strong><span class="weight">0.96kg</span>'+
                        '</div>'+
                        ' <div class="cell f-ops"><a class="deleteGood">删除</a><a class="removeGood">移到我的关注</a>'+
                        ' </div>'+
                        ' </div>'+
                        ' </div>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        ' </div>';
                }
                $("#huoAll").html(strAllss);
            }
        })


    }
</script>
</html>