.pc-width {
  width: 1190px;
}
.m-width {
  width: 1190px;
}
@media (max-width: 769px) {
  .conWidth {
    width: 100%;
    width: 1190px;
  }
}
@media (min-width: 769px) {
  .conWidth {
    width: 1190px;
  }
}
.conWidth {
  margin-left: auto;
  margin-right: auto;
}
/* 顶部 */
.logo {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 362px;
  height: 60px;
  padding: 20px 0;
}
.logo a {
  display: block;
  width: 270px;
  height: 60px;
  text-indent: -20000px;
  background-color: #c81623;
}
.nav {
  height: 44px;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #c81623;
}
.nav-dropdown {
  float: left;
  position: absolute;
  left: 0;
  z-index: 4;
  width: 210px;
  height: auto;
  overflow: visible;
  background-color: #c81623;
}
.nav-dropdown:hover .icon-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.nav-dropdown:hover .choice-list {
  display: block;
}
.dropdown-layer {
  width: 980px;
  position: absolute;
  left: 209px;
  top: 0;
  display: none;
  overflow: hidden;
  zoom: 1;
  background-color: #f5f5f5;
  border-right: 1px solid #c81623;
  border-bottom: 1px solid #c81623;
  border-left: 1px solid #c81623;
}
.item-brands {
  float: right;
  display: inline;
  width: 168px;
  overflow: hidden;
  margin: 19px 20px 10px 0;
}
.item-brands a {
  width: 83px;
  height: 35px;
  float: left;
  display: inline;
  margin: 1px 0 0 1px;
}
.item-brands img {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.item-channels {
  width: 770px;
  float: left;
  display: inline;
  height: 25px;
  padding: 20px 0 0 20px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.item-channels a {
  float: left;
  display: inline-block;
  padding: 0 0 0 8px;
  margin-right: 10px;
  line-height: 24px;
  background-color: #777777;
  color: #fff;
  white-space: nowrap;
}
.item-channels span {
  margin-left: 8px;
  width: 23px;
  height: 24px;
  font: 400 9px/2.4rem consolas;
  background-color: #555555;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.subitems {
  width: 770px;
  float: left;
  padding: 6px 0 1006px 20px;
  margin-bottom: -1000px;
  background-color: #f5f5f5;
  min-height: 393px;
}
.fare {
  width: 100%;
  overflow: hidden;
  line-height: 2em;
}
.fare dt {
  position: relative;
  float: left;
  width: 70px;
  padding: 8px 15px 0 0;
  text-align: right;
  font-weight: 700;
}
.fare dt i {
  margin-left: 5px;
}
.fare dt a:hover {
  color: #c81623;
}
.fare dd {
  border-bottom: 1px solid #dddddd;
  width: 620px;
  float: left;
  padding: 6px 0;
}
.fare dd a {
  float: left;
  padding: 0 8px;
  margin: 4px 0;
  line-height: 16px;
  height: 16px;
  border-left: 1px solid #dddddd;
  white-space: nowrap;
}
.fare dd a:hover {
  color: #c81623;
}
.item-promotions {
  float: right;
  display: inline;
  width: 168px;
  margin-right: 20px;
  overflow: hidden;
}
.item-promotions img {
  width: 168px;
  height: 134px;
  background-color: #f0f0f0;
}
.item-promotions:nth-child(1) {
  margin-bottom: 1px;
}
.nav-title {
  display: block;
  width: 190px;
  height: 44px;
  padding: 0 10px;
  background-color: #b4020f;
  font: 400 1.5rem/44px "microsoft yahei";
  color: #fff;
  text-decoration: none;
}
.nav-icon {
  top: 20px;
  right: 10px;
  overflow: hidden;
  color: #fff;
  -webkit-transition: -webkit-transform 0.1s ease-in 0s;
  transition: transform 0.1s ease-in 0s;
  display: block;
  position: absolute;
}
.choice-list {
  display: none;
  border-left: 1px solid #c81623;
  border-bottom: 1px solid #c81623;
}
.choice-list ul {
  position: relative;
}
.choice-item {
  padding-left: 12px;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
}
.choice-item > a {
  font-size: 1.4rem;
  color: #fff;
  font-family: "microsoft yahei";
}
.choice-item:hover {
  color: #c81623;
  background-color: #fff;
}
.choice-item:hover > a {
  color: #c81623;
}
.choice-item:hover > a > i {
  display: none;
}
.choice-item:hover > a:after {
  content: "";
  width: 2px;
  height: 30px;
  position: absolute;
  right: -1px;
  background-color: #fff;
  z-index: 1;
}
.choice-item:hover .dropdown-layer {
  display: block;
}
.choice-item:hover .dropdown-layer i {
  position: relative;
  z-index: 1;
  left: 0;
}
.choice-item i {
  position: absolute;
  right: 5px;
  margin-top: 8px;
}
.navitems {
  float: left;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-left: 210px;
}
.navitems-group {
  float: left;
}
.navitems-group li {
  float: left;
}
.navitems-group a {
  height: 44px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font: 400 1.5rem/44px "microsoft yahei";
  color: #333;
}
.navitems-group a:hover {
  color: #c81623;
}
.success-wrap {
  height: 145px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.success-cont {
  font-family: "microsoft yahei";
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.success-cont .p-img {
  float: left;
  width: 60px;
  margin-right: 10px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
.success-cont .p-img img {
  max-width: 60px;
}
.success-cont .p-info {
  float: left;
  width: 350px;
  margin: 0;
}
.success-cont .p-info .p-name {
  width: 100%;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
}
.success-top {
  position: relative;
  padding-left: 35px;
  margin: 20px 0;
}
.success-top i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.8rem;
  color: #64B475;
}
.success-top h3 {
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 400;
  color: #64B475;
}
.success-btns {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}
.success-btns .btn-toback,
.success-btns .btn-topay {
  display: inline-block;
  padding: 0 30px;
  line-height: 36px;
  font-size: 1.6rem;
  vertical-align: middle;
}
.success-btns .btn-toback {
  margin-right: 10px;
  background-color: #fff;
  color: #ea3845;
  border: 1px solid #fff;
}
.success-btns .btn-toback:hover {
  border-color: #ea3845;
}
.success-btns .btn-topay {
  padding-right: 45px;
  position: relative;
  background-color: #ea3845;
  border: 1px solid #ea3845;
  color: #fff;
}
.success-btns .btn-topay:hover {
  background-color: #e02e3b;
}
.success-btns .btn-topay i {
  font-size: 2.8rem;
  position: absolute;
  right: 20px;
  top: 3px;
}
.panel-tit h3 {
  font-size: 1.4rem;
  color: #000;
}
.s-tabs {
  display: inline-block;
  float: right;
}
.m-item-on {
  color: #ea3845;
  font-weight: 700;
  border-color: #ea3845;
}
.s-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 4px;
  background-color: #999;
}
.s-item-on {
  width: 20px;
  background-color: #ea3845;
}
.panel-main {
  overflow: visible;
  height: 610px;
}
.panel-item {
  width: 100%;
  height: 100%;
  position: absolute;
}
.panel-item > ul {
  position: absolute;
}
.panel-item li {
  float: left;
}
.panel-item:hover .pages {
  display: block;
}
.panel-on {
  z-index: 1;
  opacity: 1;
}
.panel-like {
  z-index: 1;
  opacity: 1;
}
.item-detail {
  position: relative;
  width: 197px;
  padding: 20px;
  background-color: #fff;
  margin: -1px 0 0 -1px;
  border: 1px dashed #999;
  overflow: hidden;
}
.item-detail:hover {
  z-index: 2;
  border: 1px solid #ea3845;
}
.i-img {
  width: 160px;
  margin: 0 auto;
  overflow: hidden;
}
.i-img img {
  max-width: 160px;
  max-height: 160px;
}
.i-name {
  height: 36px;
  line-height: 18px;
  margin: 5px 0;
  overflow: hidden;
}
.i-name a {
  color: #555555;
}
.i-price {
  width: 100%;
  margin: 5px 0 2px;
  overflow: hidden;
  text-align: center;
}
.i-price strong {
  font-size: 1.4rem;
  color: #ea3845;
  font-family: verdana;
  font-weight: 400;
}
.i-btn {
  margin: 10px 0 0;
  text-align: center;
}
.i-btn a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #999;
  color: #777777;
  text-align: center;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.i-btn a i {
  margin-right: 4px;
  font-size: 1.8rem;
  vertical-align: text-top;
}
.i-btn a:hover {
  background-color: #ea3845;
  color: #fff;
  border-color: #ea3845;
}
.noResult {
  height: 326px;
  line-height: 300px;
  text-align: center;
  color: #555555;
}
.pages a {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 100px;
  line-height: 100px;
  color: #999;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 4.2rem;
  font-weight: 400;
  font-family: simsun;
}
.pages a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.leftBtn {
  left: 0;
}
.rightBtn {
  right: 1px;
}
/* 其他推荐 */
.otherRecom .panel-main {
  height: 305px;
}
/* 畅读卡 */
.card-list ul {
  width: 1240px;
  display: block;
  zoom: 1;
}
.card-list ul:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.card-list li {
  float: left;
  margin-right: 22px;
}
.card-list .card-item {
  position: relative;
  width: 284px;
  padding-bottom: 30px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}
.card-list .card-item1 .card-msg {
  background-color: #ff5a67;
}
.card-list .card-item1 .p-price strong {
  color: #ff5a67;
}
.card-list .card-item2 .card-msg {
  background-color: #85b;
}
.card-list .card-item2 .p-price strong {
  color: #85b;
}
.card-list .card-item3 .card-msg {
  background-color: #0a6;
}
.card-list .card-item3 .p-price strong {
  color: #0a6;
}
.card-list .card-item4 .card-msg {
  background-color: #eb2;
}
.card-list .card-item4 .p-price strong {
  color: #eb2;
}
.card-list .card-msg {
  position: relative;
  height: 113px;
  color: #fff;
  background-color: #ea3845;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.card-list .card-msg a {
  color: #fff;
}
.card-list .card-msg h5 {
  font-size: 1.6rem;
  padding: 25px 0 10px;
}
.card-list .card-msg h4 {
  font-size: 3.2rem;
  line-height: 30px;
}
.card-list .p-price {
  width: 100%;
  height: 19px;
  margin: 30px 0 10px;
  overflow: hidden;
}
.card-list .p-price strong {
  font-size: 1.6rem;
  font-family: verdana;
  font-weight: 400;
  color: #ea3845;
}
.card-list .btn-append {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #bbbbbb;
  color: #777777;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.card-list .btn-append i {
  margin-right: 4px;
  font-size: 1.8rem;
  vertical-align: text-top;
}
.card-list .btn-append:hover {
  background-color: #ea3845;
  color: #fff;
  border-color: #ea3845;
}
.addsucc-tips {
  position: absolute;
  top: 95px;
  height: 30px;
  line-height: 30px;
  padding: 1px 25px;
  margin-left: 9%;
  background-color: #fff;
  color: #555555;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd;
}
.addsucc-tips i {
  color: #64B475;
  font-size: 1.8rem;
  vertical-align: text-top;
}
