/* .pc-width{
  width: 1190px;
}
.m-width{
  width: 100%;
} */
@media (max-width: 769px) {
  .nav,
  .goods-title,
  .goods-info,
  .goods-intro {
    /* .m-width; */
    width: 1190px;
  }
  .detail {
    width: 970px;
  }
}
@media (min-width: 769px) {
  .nav,
  .goods-title,
  .goods-info,
  .goods-intro {
    /* .pc-width; */
    width: 1190px;
  }
  .detail,
  .detail-header {
    width: 970px;
  }
}
.logo {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 362px;
  height: 60px;
  padding: 20px 0;
}
.logo a {
  display: block;
  width: 270px;
  height: 60px;
  text-indent: -20000px;
  background-color: #c81623;
}
.nav {
  height: 44px;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #c81623;
}
.nav-dropdown {
  float: left;
  position: absolute;
  left: 0;
  z-index: 4;
  width: 210px;
  height: auto;
  overflow: visible;
  background-color: #c81623;
}
.nav-dropdown:hover .icon-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.nav-dropdown:hover .choice-list {
  display: block;
}
.dropdown-layer {
  width: 980px;
  position: absolute;
  left: 209px;
  top: 0;
  display: none;
  overflow: hidden;
  zoom: 1;
  background-color: #f5f5f5;
  border-right: 1px solid #c81623;
  border-bottom: 1px solid #c81623;
  border-left: 1px solid #c81623;
}
.item-brands {
  float: right;
  display: inline;
  width: 168px;
  overflow: hidden;
  margin: 19px 20px 10px 0;
}
.item-brands a {
  width: 83px;
  height: 35px;
  float: left;
  display: inline;
  margin: 1px 0 0 1px;
}
.item-brands img {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.item-channels {
  width: 770px;
  float: left;
  display: inline;
  height: 25px;
  padding: 20px 0 0 20px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.item-channels a {
  float: left;
  display: inline-block;
  padding: 0 0 0 8px;
  margin-right: 10px;
  line-height: 24px;
  background-color: #777777;
  color: #fff;
  white-space: nowrap;
}
.item-channels span {
  margin-left: 8px;
  width: 23px;
  height: 24px;
  font: 400 9px/2.4rem consolas;
  background-color: #555555;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.subitems {
  width: 770px;
  float: left;
  padding: 6px 0 1006px 20px;
  margin-bottom: -1000px;
  background-color: #f5f5f5;
  min-height: 393px;
}
.fare {
  width: 100%;
  overflow: hidden;
  line-height: 2em;
}
.fare dt {
  position: relative;
  float: left;
  width: 70px;
  padding: 8px 15px 0 0;
  text-align: right;
  font-weight: 700;
}
.fare dt i {
  margin-left: 5px;
}
.fare dt a:hover {
  color: #c81623;
}
.fare dd {
  border-bottom: 1px solid #dddddd;
  width: 620px;
  float: left;
  padding: 6px 0;
}
.fare dd a {
  float: left;
  padding: 0 8px;
  margin: 4px 0;
  line-height: 16px;
  height: 16px;
  border-left: 1px solid #dddddd;
  white-space: nowrap;
}
.fare dd a:hover {
  color: #c81623;
}
.item-promotions {
  float: right;
  display: inline;
  width: 168px;
  margin-right: 20px;
  overflow: hidden;
}
.item-promotions img {
  width: 168px;
  height: 134px;
  background-color: #f0f0f0;
}
.item-promotions:nth-child(1) {
  margin-bottom: 1px;
}
.nav-title {
  display: block;
  width: 190px;
  height: 44px;
  padding: 0 10px;
  background-color: #b4020f;
  font: 400 1.5rem/44px "microsoft yahei";
  color: #fff;
  text-decoration: none;
}
.nav-icon {
  top: 20px;
  right: 10px;
  overflow: hidden;
  color: #fff;
  -webkit-transition: -webkit-transform 0.1s ease-in 0s;
  transition: transform 0.1s ease-in 0s;
  display: block;
  position: absolute;
}
.choice-list {
  display: none;
  border-left: 1px solid #c81623;
  border-bottom: 1px solid #c81623;
}
.choice-list ul {
  position: relative;
}
.choice-item {
  padding-left: 12px;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
}
.choice-item > a {
  font-size: 1.4rem;
  color: #fff;
  font-family: "microsoft yahei";
}
.choice-item:hover {
  color: #c81623;
  background-color: #fff;
}
.choice-item:hover > a {
  color: #c81623;
}
.choice-item:hover > a > i {
  display: none;
}
.choice-item:hover > a:after {
  content: "";
  width: 2px;
  height: 30px;
  position: absolute;
  right: -1px;
  background-color: #fff;
  z-index: 1;
}
.choice-item:hover .dropdown-layer {
  display: block;
}
.choice-item:hover .dropdown-layer i {
  position: relative;
  z-index: 1;
  left: 0;
}
.choice-item i {
  position: absolute;
  right: 5px;
  margin-top: 8px;
}
.navitems {
  float: left;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-left: 210px;
}
.navitems-group {
  float: left;
}
.navitems-group li {
  float: left;
}
.navitems-group a {
  height: 44px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font: 400 1.5rem/44px "microsoft yahei";
  color: #333;
}
.navitems-group a:hover {
  color: #c81623;
}
.goods-title {
  margin: auto;
  height: 44px;
  background-color: #f2f2f2;
}
.goods-t-left {
  position: relative;
  padding: 13px 0 9px;
  float: left;
}
.goods-t-right {
  padding: 13px 0 0;
  float: right;
}
.icon-title-left {
  margin: 0 10px;
  font-size: 1.6rem;
}
.goods-info {
  margin: auto;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.preview {
  float: left;
  padding-bottom: 15px;
  display: inline;
  width: 430px;
  position: relative;
}
.preview-pic {
  margin: 15px;
  position: relative;
  width: 400px;
  height: 400px;
}
.preview-pic > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.preview-piclist {
  position: relative;
  height: 60px;
  overflow: hidden;
}
.leftBtn,
.rightBtn {
  display: block;
  width: 22px;
  height: 32px;
  float: left;
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-top: -16px;
  font-size: 3rem;
  color: #dddddd;
}
.leftBtn {
  left: 0;
}
.rightBtn {
  right: 0;
}
.pics {
  width: 390px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.pics ul {
  width: 2000px;
  zoom: 1;
  overflow: hidden;
  position: absolute;
}
.pics li {
  float: left;
  margin: 0 9px;
}
.pics img {
  box-sizing: border-box;
  width: 60px;
}
.icon-turnBig {
  font-size: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 4px;
  background-color: #dddddd;
}
.pre-bigpic {
  width: 460px;
  height: 460px;
  z-index: 10;
  position: absolute;
  top: 0;
  border: 1px solid #bbbbbb;
  overflow: hidden;
  left: 415px;
  background-size: 100%;
  background-color: #fff;
}
.pre-bigpic img {
  width: 1050px;
  height: 1050px;
}
.turnBig-tool {
  width: 175px;
  height: 175px;
  background-color: #FEDE4F;
  border: 1px solid #bbbbbb;
  opacity: 0.4;
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
}
.selectBox {
  border: 2px solid #ea3845;
}
.short-list {
  zoom: 1;
  padding-top: 15px;
  overflow: hidden;
}
.short-list i {
  color: #FF9933;
  font-size: 1.3rem;
  margin-left: 8px;
  margin-right: 3px;
}
.details {
  width: 738px;
  float: right;
  height: auto;
}
.details-title {
  font: 700 16px Arial, "microsoft yahei";
  color: #666;
  padding-top: 10px;
  line-height: 28px;
  margin-bottom: 5px;
}
.details-news {
  color: #c81623;
  margin-bottom: 5px;
}
.news-item {
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail-summary {
  position: relative;
  padding: 10px;
  background-color: #f0f0f0;
}
.ourPrice {
  margin: 0 10px;
  font-size: 2.2rem;
  font-family: "microsoft yahei";
}
.oldPrice {
  color: #999;
  text-decoration: line-through;
  margin-right: 10px;
}
.priceCut a {
  color: #2069a8;
}
.priceCut a:hover {
  color: #c81623;
}
.evaluation {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #999;
  text-align: center;
  padding: 0 10px;
  border-left: 1px solid #bbbbbb;
}
.eval-count {
  font: 1.4rem verdana;
  color: #2069a8;
}
.summary-sales {
  position: relative;
  /* z-index: 4; */
  line-height: 30px;
}
.ourPriceT {
  font-family: simsun;
}
.salesT {
  float: left;
  width: 50px;
  font-family: simsun;
  color: #999;
}
.salesC {
  position: relative;
  overflow: hidden;
  margin-left: 50px;
  padding-top: 3px;
}
.sales-gift {
  margin-left: 10px;
  color: #c81623;
  border: 1px solid #c81623;
  padding: 3px;
  margin-right: 5px;
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
}
.gift-pic {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}
.gift-num {
  font-size: 12px;
  font-family: arial;
}
.gift-limit {
  margin-left: 10px;
}
.store-prompt {
  margin-right: 10px;
  margin-left: 10px;
  color: #999;
  height: 24px;
  float: left;
}
.promiseInfo a {
  font-size: 1.5rem;
  margin-left: 3px;
}
.promiseT {
  margin-right: 10px;
}
.promiseC {
  display: inline-block;
  position: relative;
  height: 20px;
  overflow: hidden;
}
.promiseItem {
  display: block;
  float: left;
  margin-left: 10px;
}
.promiseItem a {
  color: #2069a8;
}
.promiseItem a:hover {
  color: #c81623;
}
.promiseC .spacer {
  margin: 3px 0 0 10px;
}
.chooseBox {
  width: 658px;
  margin-top: 15px;
  margin-left: 60px;
}
/* .chooseType{
	width: 100%;
	padding: 0 0 0 60px;
} */
.typeT {
  float: left;
  width: 72px;
  margin-left: -72px;
  margin-top: 10px;
  display: inline;
  text-align: right;
  font-family: simun;
}
.typeC {
  overflow: hidden;
}
.typeC-item {
  height: 34px;
  position: relative;
  zoom: 1;
  float: left;
  margin: 2px 8px 2px 0;
  white-space: nowrap;
  background-color: #f5f5f5;
  border: 1px solid #999;
  cursor: pointer;
  color: #4b4b4b;
}
.typeC-item span {
  margin: 0 4px;
}
.typeC-item-select {
  border-color: #a60001;
}
.typeC-item img {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}
.typeC-item .goodColor {
  width: 28px;
  height: 28px;
  background-color: #c81623;
  vertical-align: middle;
  display: inline-block;
  margin: 3px;
}
.chooseWords span {
  padding: 0 2px;
  display: inline-block;
  line-height: 34px;
}
.choose-btn {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  zoom: 1;
  border-top: 1px dotted #bbbbbb;
}
.choose-mount {
  height: 44px;
  width: 49px;
  overflow: hidden;
  border: 1px solid #999;
  position: relative;
  margin-right: 10px;
}
.choose-shoppingcar {
  margin-right: 10px;
  float: left;
  height: 46px;
  line-height: 46px;
  padding: 0 26px;
  font-size: 18px;
  font-family: "microsoft yahei";
  background-color: #c81623;
  color: #fff;
  font-weight: 700;
}
.mount-input {
  display: block;
  width: 31px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 1px;
  left: 0;
  border: none;
  text-align: center;
}
.mount-up,
.mount-down {
  display: block;
  width: 15px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  background-color: #f0f0f0;
  color: #777777;
  position: absolute;
  right: -1px;
  border: 1px solid #999;
  cursor: pointer;
}
.mount-up {
  top: -1px;
}
.mount-down {
  bottom: -1px;
}
.choose-tips {
  margin-bottom: 5px;
}
.tipsT {
  float: left;
  width: 50px;
  font-family: simsun;
  color: #999;
}
.tipsC {
  margin-left: 60px;
}
.goods-intro {
  margin: auto;
  overflow: hidden;
}
.aside {
  float: left;
  width: 210px;
  margin-bottom: 20px;
  display: inline;
}
.aside-popbox,
.aside-ad {
  margin-bottom: 15px;
  overflow: hidden;
}
.ap-title,
.ad-title {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.ap-title h3,
.ad-title h3 {
  float: left;
  max-width: 160px;
  height: 18px;
  overflow: hidden;
  color: #777777;
  font: 700 1.4rem "microsoft yahei";
}
.trophy-icon {
  margin-left: 5px;
  cursor: pointer;
  color: #FF9933;
  font-size: 1.8rem;
}
.ap-content,
.ad-content {
  padding-top: 0;
  background-color: #fff;
  padding: 0 10px;
  border: 1px solid #dddddd;
  border-top: none;
  overflow: visible;
}
.ad-content li {
  padding: 5px 0;
  text-align: center;
  position: relative;
}
.ad-content li > img {
  max-width: 100%;
}
.apc-score {
  padding-top: 10px;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
.apc-score-sum {
  float: left;
  width: 78px;
  display: inline;
  margin-top: 15px;
  text-align: center;
  font-size: 2.4rem;
  color: #ea3845;
}
.apc-score-parts {
  float: left;
  width: 110px;
}
.apc-score-item {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
}
.apc-score-item i {
  color: #ea3845;
}
.score-desc {
  display: inline-block;
  width: 52px;
  color: #999;
}
.score-num {
  margin: 0 10px;
}
.apc-btns {
  padding: 10px 0;
  text-align: center;
}
.apc-btns a {
  width: 88px;
  height: 34px;
  line-height: 34px;
  margin-right: 8px;
  font-size: 1.2rem;
  padding: 9px;
  border: 1px solid #dddddd;
  background-color: #f5f5f5;
}
.apc-btns i {
  font-size: 1.8rem;
  vertical-align: middle;
  padding: 0 3px;
  color: #ea3845;
}
.detail {
  float: right;
  min-height: 220px;
  overflow: hidden;
  margin-left: 10px;
}
.detail-headerC {
  height: 41px;
}
.detail-header {
  position: relative;
  overflow: visible;
  top: 0;
  z-index: 2;
  display: block;
  border: 1px solid #dddddd;
  border-bottom-color: #c81623;
  background-color: #f0f0f0;
}
.detail-header ul {
  margin-top: -1px;
}
.detail-header li {
  cursor: pointer;
  color: #555555;
  padding: 10px 25px;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  font-family: "microsoft yahei";
}
.detail-header li:hover {
  color: #c81623;
}
.detail-header .dh-select {
  color: #fff;
  background-color: #c81623;
}
.detail-header .dh-select:hover {
  color: #fff;
}
.extra {
  position: absolute;
  top: 0;
  right: 0;
}
.addcart-mini {
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  padding: 3px 15px;
  background-color: #c81623;
  color: #fff;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
}
.qrcodeBox {
  margin-right: 10px;
}
.qrcodeBox:hover .nav-qrcode {
  border-color: #bbbbbb;
  background-color: #fff;
  padding-bottom: 9px;
}
.qrcodeBox:hover .icon-angle-down {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s ease-in 0s;
  transition: transform 0.1s ease-in 0s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.qrcodeBox:hover .qrcodePic {
  display: block;
}
.nav-qrcode {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: 1px solid #f0f0f0;
  border-bottom: none;
}
.nav-qrcode i {
  font-size: 2rem;
  margin: 0 10px;
  vertical-align: middle;
}
.qrcodePic {
  position: absolute;
  display: none;
  top: 39px;
  right: 0;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #bbbbbb;
}
.qrcodePic img {
  max-width: 130px;
}
.detail-content {
  overflow: hidden;
  padding: 10px 0;
  color: #777777;
}
.dc-parameter {
  padding: 0 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
.dcp-list {
  padding: 20px 0 15px;
  overflow: hidden;
}
.dcp-list li {
  width: 50%;
  padding-left: 42px;
  float: left;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dcp-list a {
  color: #5e69ad;
}
.dcp-care {
  color: #777777;
  margin-left: 20px;
  border: 1px solid #bbbbbb;
  line-height: 23px;
  height: 23px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
}
.dcp2-list {
  padding: 20px 0 15px;
  overflow: hidden;
}
.dcp2-list li {
  width: 195px;
  padding-left: 42px;
  float: left;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dcp-more {
  padding-left: 20px;
  margin-top: -5px;
  text-align: right;
}
.dcp-more a {
  color: #005aa0;
}
.dc-content {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  width: 100%;
  /* float: left; */
}
.dc-content p img {
  width: 770px;
  border: 0;
  vertical-align: middle;
}
.detail-guarantee {
  margin-bottom: 15px;
  overflow: hidden;
}
.dg-header,
.de-header {
  position: relative;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  overflow: hidden;
  color: #555555;
  margin-top: 10px;
}
.dg-item {
  overflow: hidden;
  padding: 0 10px;
  line-height: 180%;
}
.dg-serve {
  padding: 20px 20px 20px 62px;
}
.dg-serve dt {
  display: block;
  height: 32px;
  line-height: 32px;
  margin-left: -42px;
  font-size: 16px;
  color: #e4393c;
  font-family: "microsoft yahei";
}
.dg-serve dt i {
  margin-right: 10px;
}
.dg-serve dd {
  margin-left: -15px;
}
.detail-evaluate {
  overflow: hidden;
  margin-bottom: 15px;
}
.de-content {
  overflow: hidden;
  zoom: 1;
  padding: 25px 0;
}
.dec-info {
  overflow: hidden;
  zoom: 1;
  padding: 25px 0;
}
.dec-percent {
  width: 90px;
  padding: 15px 0 0 40px;
  float: left;
}
.decp-title {
  font-size: 12px;
  color: #555555;
  font-weight: 400;
}
.decp-content {
  line-height: 110%;
  font-size: 4.5rem;
  color: #ea3845;
  font-family: arial;
}
.dec-mess {
  margin-left: 140px;
  height: auto;
  overflow: visible;
}
.dec-mess span {
  display: inline-block;
  line-height: 20px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #999;
}
.de-list {
  min-height: 93px;
}
.del-header {
  border: 1px solid #ebebeb;
  background-color: #f5f5f5;
  padding-left: 10px;
  position: relative;
  display: block;
}
.del-content {
  padding: 10px 0;
}
.delh-list li {
  background-color: #f5f5f5;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  font-family: "microsoft yahei";
}
.delh-list li:hover {
  color: #ea3845;
}
.delh-list-current {
  color: #ea3845;
}
.delc-item {
  zoom: 1;
  overflow: hidden;
  padding: 15px;
  border-bottom: 1px solid #bbbbbb;
}
.delci-user {
  width: 140px;
  float: left;
  color: #777777;
}
.delci-comment {
  margin-left: 150px;
}
.delciu-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.delciu-level {
  padding-top: 3px;
}
.delciu-level span {
  margin-right: 8px;
}
.delciu-info i {
  margin-right: 5px;
  font-size: 1.5rem;
}
.delcic-star {
  width: 78px;
  height: 14px;
}
.delcic-content {
  font-size: 1.4rem;
  padding: 10px 0;
  line-height: 180%;
  color: #777777;
}
.delcic-piclist {
  padding-bottom: 15px;
}
.delcic-piclist img {
  width: 48px;
  height: 48px;
  margin-right: 6px;
  border: 1px solid #bbbbbb;
  padding: 1px;
}
.delcicm-order {
  float: left;
  color: #999;
}
.delcicm-order span {
  margin-right: 20px;
}
.delcicm-comment {
  float: right;
}
.delcicm-comment i {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #999;
}
.delcicm-comment i:hover {
  color: #ea3845;
}
.paginContainer {
  text-align: right;
}
.pagination {
  display: inline-block;
  margin: 25px 0 10px 0;
}
.dc-standard {
  overflow: hidden;
  margin: 10px 0;
  padding: 12px 0;
  line-height: 220%;
  border-bottom: 1px solid #dddddd;
  font-size: 1.2rem;
  color: #999;
}
.dc-standard h3 {
  width: 110px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: right;
  float: left;
}
.dc-standard dl {
  margin-left: 110px;
}
.dc-standard dt {
  width: 150px;
  float: left;
  text-align: right;
}
.dc-standard dd {
  margin-left: 190px;
}
