<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>
</head>
<body>
<div id="container" style="min-width:400px;height:400px"></div>
</body>
<script>
    $(function(){
        queryColu();
        queryLine();
    })
        function queryColu(){
            $.ajax({
                url:"../highcharts/queryColu",
                type:"post",
                dataType:"json",
                success:function (data) {
                    var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: '收益明细'
                        },
                        subtitle: {
                            text: '数据来源: Wikipedia.org'
                        },
                        xAxis: {
                            categories: ['收入'],
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '时间',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ' '
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true,
                                    allowOverlap: true // 允许数据标签重叠
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 100,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                            shadow: true
                        },
                        series: data,
                    });
                },error:function () {
                    alert("查询失败")
                }
            })
        }

        function queryLine(){
            $.ajax({
                url:"../highcharts/queryline",
                type:"post",
                dataType:"json",
                success:function (data) {
                    Highcharts.chart('container', {
                        title: {
                            text: '时间占比'
                        },
                        yAxis: {
                            title: {
                                text: '时间数量'
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                        },
                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    }
                                }
                            }]
                        },
                        series: [{
                            name: '月份',
                            colorByPoint: true,
                            data: data
                        }]
                    });
                },error:function () {
                    alert("查询失败")
                }
            })
        }
</script>
</html>